.current-weather {
  margin-block: 2rem;
  border-block-end: 1px solid var(--border-color);

  .weather-data {
    align-items: flex-end;
    justify-content: space-between;
    padding-inline: 1rem;

    .data-container {
      padding-block: 1rem;

      .temp {
        font-size: 4rem;
        color: var(--accent-color);
        margin-block-end: 0.5rem;
      }

      .location {
        color: var(--primary-text);
        font-size: 1.5rem;
        gap: 0.5rem;

        svg {
          path {
            fill: var(--primary-text);
          }
        }
      }
    }

    .weather-image-container {
      flex-direction: column;
      justify-content: center;
      color: var(--secondary-text);

      img {
        min-width: 7rem;
        aspect-ratio: 1;
      }
    }
  }

  .weather-stat-cards {
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-block: 2rem;
    justify-content: flex-start;

    .card {
      flex-basis: 10rem;
      /* flex-grow: 1; */
      padding: 1rem;
      padding-inline-end: 2rem;

      &:not(:last-child) {
        border-inline-end: 1px solid var(--border-color);
      }

      .factor {
        color: var(--secondary-text);
      }

      .value {
        color: var(--primary-text);
        font-size: 2rem;
        margin-block-start: 0.25rem;
      }
    }
  }
}
